@use '../utils/variables' as v;
@use '../utils/mixins.scss' as m;

.contacts {
  margin-top: v.$space-4xl;

  @include m.on-tabled {
    margin-top: v.$space-6xl;
  }

  @include m.on-desktop {
    margin-top: 180px;
  }

  &__content {
    margin-top: v.$space-xxl-plus;
    row-gap: v.$space-xxl-plus;

    @include m.page-grid;
  }

  &__form {
    grid-column: 1 / -1;

    @include m.on-tabled {
      grid-column: span 3;
    }

    @include m.on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include m.on-tabled {
      grid-column: span 2;
    }

    @include m.on-desktop {
      grid-column: 8 / 13;
    }
  }
}
