@use '../utils/variables' as v;
@use '../utils/mixins.scss' as m;

.details {
  margin-top: v.$space-5xl;

  @include m.on-tabled {
    margin-top: v.$space-6xl;
  }

  @include m.on-desktop {
    margin-top: 144px;
  }

  &__card {
    margin-top: v.$space-xxl-plus;
    row-gap: v.$space-xxl;

    @include m.on-tabled {
      row-gap: v.$space-xxl-plus;
    }
  }

  &__bottom {
    @include m.page-grid;

    margin-top: v.$space-xxl;

    @include m.on-tabled {
      margin-top: 56px;
    }

    @include m.on-desktop {
      margin-top: v.$space-xxl-plus;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @include m.on-tabled {
      grid-column: 2 / -2;
    }

    @include m.on-desktop {
      grid-column: 5 / 9;
    }
  }
}
