@use '../utils/variables' as v;
@use '../utils/mixins.scss' as m;

.field {
  font-family: v.$font-family, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #292929;
  padding: 14px 16px;
  border-radius: 40px;
  background: v.$color-light;
  border: 1px solid transparent;
  outline: none;
  transition: all v.$animation-duration;

  &--textarea {
    resize: none;
    height: 148px;
  }

  &::placeholder {
    color: #7e7e83;
  }

  &:hover,
  &:focus {
    border: 1px solid #d5d7de;
  }

  &--border-radius-md {
    border-radius: 16px;
  }
}
