@use '../utils/variables' as v;
@use '../utils/mixins.scss' as m;

.footer {
  margin-top: v.$space-6xl;

  background-image: url('../images/footer-photo.png');
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 200px;

  @include m.on-tabled {
    margin-top: 102px;
    height: 400px;
  }

  @include m.on-desktop {
    margin-top: 164px;
    background-size: cover;
    height: 50vh;
    background-position: center;
  }
}
