@use '../utils/mixins.scss' as m;
@use '../utils/variables.scss' as v;

.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include m.on-tabled {
    width: 32px;
    height: 32px;
  }

  @include m.hover(transform, scale(1.2));

  &--phone {
    background-image: url('../icon/icon-phone.svg');
  }

  &--menu {
    background-image: url('../icon/Icon-burger-menu.svg');
  }

  &--close {
    background-image: url('../icon/icon-close.svg');
  }
}
