@use '../utils/variables' as v;
@use '../utils/mixins.scss' as m;

.menu {
  background-color: v.$color-tertiary;
  box-sizing: border-box;
  height: 100vh;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: v.$space-md;
  overflow-y: auto;
  &__phone-number {
    color: v.$color-main;
    text-decoration: none;
    font-size: v.$fs-sm;
    line-height: 169%;

    @include m.hover(color, v.$color-secondary);
  }

  &__book-ride {
    color: v.$color-main;
    text-decoration: none;
    font-size: v.$fs-xs;
    line-height: 133%;
    letter-spacing: 0.17em;
    display: block;
    padding-bottom: 7px;
    border-bottom: 1px solid v.$color-main;
    width: fit-content;
    margin-top: v.$space-xs;

    @include m.hover(color, v.$color-secondary);
  }

  &__bottom {
    margin-top: v.$space-md;
  }

  &__nav {
    margin-bottom: v.$space-xxl;
  }
}
