@use '../utils/variables' as v;
@use '../utils/mixins.scss' as m;

.product {
  &__link {
    display: block;

    @include m.hover(transform, scale(1.2));
  }

  &__photo {
    width: 100%;
  }

  &__title {
    margin-block: v.$fs-lg v.$fs-xxs;
  }
  &__price {
    margin-top: v.$fs-sm;
  }
}
