@use '../utils/variables' as v;
@use '../utils/mixins.scss' as m;

.section-title {
  font-weight: 500;
  font-size: v.$fs-lg;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: v.$color-secondary;
  text-align: center;

  @include m.on-tabled {
    font-size: v.$fs-xl;
    letter-spacing: -0.03em;
  }

  @include m.on-desktop {
    font-size: v.$fs-xxl;
    letter-spacing: -0.02em;
  }

  &--text-left {
    text-align: left;
  }
}
