$font-family: Poppins;
$second-family: Roboto;
$third-family: Cinzel;
$font3: Ubuntu;
$font4: Inter;
$fs-xxs: 8px;
$fs-xs: 12px;
$fs-sm: 16px;
$fs-md: 24px;
$fs-lg: 32px;
$fs-xl: 48px;
$fs-xxl: 64px;
$fs-xxxl: 80px;
$color-main: #1d1d1d;
$color-secondary: #fff;
$color-tertiary: #c2c2c2;
$color-light: #f8f8fa;
$space-xs: 16px;
$space-sm: 20px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 36px;
$space-xxl: 40px;
$space-xxl-plus: 48px;
$space-xxxl: 60px;
$space-4xl: 80px;
$space-5xl: 92px;
$space-6xl: 120px;
$space-7xl: 132px;
$animation-duration: 0.5s;
